{% block obsah %}

<a href="{{url_for('index')}}">Index</a><br><a href="{{url_for('info')}}">Info</a><br><a href="{{url_for('Květák')}}">Květák</a><br><a href="{{url_for('Kapusta')}}">Kapusta</a>


<p align="center"><a href='https://www.freshbedynky.cz/banany-bio-p400736'><img src="{{url_for('static', filename='banany.jpeg')}}" alt="#"/></a></p>
<hr size="20" color="grey">
<p align="center">Kdybyste měl chuť na peruánské BIO banány, klikněte na obrázek :)</p>
<p align="center">Kdybyste neměl nic lepšího na práci, můžete si přečíst o <a href='https://cs.wikipedia.org/wiki/Ban%C3%A1novn%C3%ADk'>banánovníku</a>&#128053;</p>





{% endblock obsah %}