{% block obsah %}

<a href="{{url_for('index')}}">Index</a><br><a href="{{url_for('info')}}">Info</a><br><a href="{{url_for('Květák')}}">Květák</a><br><a href="{{url_for('Banány')}}">Banány</a>

<p align="center"><a href='https://www.receptyonline.cz/hlavkova-kapusta/'><img src="{{url_for('static', filename='kapusta.jpeg')}}" alt="#"/></a></p>
<hr size="20" color="green">
<p align="center">Pro zobrazení zajímavých informací o kapustě klikněte na obrázek!</p>




{% endblock obsah %}