{% block obsah %}

<a href="{{url_for('index')}}">Index</a><br><a href="{{url_for('info')}}">Info</a><br><a href="{{url_for('Kapusta')}}">Kapusta</a><br><a href="{{url_for('Banány')}}">Banány</a>

<p align="center"><img src="{{url_for('static', filename='kvetak.jpeg')}}" alt="#"/></p>
<hr size="20" color="orange">
<p align="center" font-size="30%">Nejhezčí fotka květáku jakou jsem našel. DOBROU CHUŤ!!!</p>
<p align="center">Zdroj:<a href='https://zahrada.bydleniprokazdeho.cz/zelenina/Kvetak/'>Květák</a></p>




{% endblock obsah %}